.Home{
    background: linear-gradient(to right,black,rgba(0,0,0,0.2)),url("https://imgs.search.brave.com/25cKFAKimf-5_TiSlyxsDCL4TEeT-pP1quC7jS9VOCU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbHVz/LnVuc3BsYXNoLmNv/bS9wcmVtaXVtX3Bo/b3RvLTE2NjE5NjMy/MTI1MTctODMwYmJi/N2Q3NmZjP3E9ODAm/dz0xMDAwJmF1dG89/Zm9ybWF0JmZpdD1j/cm9wJml4bGliPXJi/LTQuMC4zJml4aWQ9/TTN3eE1qQTNmREI4/TUh4elpXRnlZMmg4/TVROOGZIUmxZMmh1/YjJ4dlozbDhaVzU4/TUh4OE1IeDhmREE9");
    background-repeat: no-repeat;
    background-size: cover;

}